@using PagedList.Core
@using PagedList.Core.Mvc
@addTagHelper *,PagedList.Core.Mvc
@{
    ViewData["Title"] = "Odemelerim";
}
@model IPagedList<Odeme>


<form asp-controller="EmlakYonetim" asp-action="Odemelerim" method="post">
    <div class="container">
        <div class="row" style="padding:1%">
            <div class="col" style="margin-left:-25px">
                <input type="text" class="form-control" name="Aranan" value="@ViewData["Aranan"]" placeholder="ARA" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Ara</button>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Odemelerim","EmlakYonetim")';">Temizle</button>

            </div>
        </div>
    </div>
</form>
<h1>Odemelerim</h1>

<table class="table  table-hover table-bordered">
    <thead>
        <tr>

            <td>Ad Soyad</td>
            <td>Emlakçı</td>
            <td>İlan No</td>
            <td>Emlak Türü</td>
            <td>Kiralama Süresi</td>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (var o in Model)
                {
                
                    <tr>

                        <td>@o.adSoyad</td>
                        <td>@o.emlakci</td>
                        <td>@o.ilanNo</td>
                        <td>@o.EmlakTuru</td>
                        <td>@o.KiralamaSuresi</td>
                  
                    </tr>
                }
                <tr>
                    <td colspan="10">
                        <div class="text-center">
                            <pager list="@Model" options="@PagedListRenderOptions.Bootstrap4Full" class="pagination justify-content-center" asp-controller="EmlakYonetim" asp-action="Odemeler" asp-route-Aranan="@ViewData["Aranan"]" />
                            Toplam @Model.TotalItemCount kayıt bulundu. Bu sayfada @Model.FirstItemOnPage ile @Model.LastItemOnPage arası kayıtlar gösteriliyor.
                        </div>

                    </td>
                </tr>

            }
            else 
            {
                <tr>
                    <td colspan="10">
                        <div class="text-center"> Kayıt Bulunamadı</div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>